<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h1>Welcome to the homepage</h1>
  <p>It's pretty empty in here right now...</p>
  <% if(user) {%>
    <p>I know it's you, <%=user.id%>
        <%=user.username%>
    </p>
    <% } %>
      <ul>
        <% submissions.forEach(submission=>{ %>
          <li>
            <a href="/submissions/<%=submission.id%>">
              <h1>
                <%=submission.name%>
              </h1>
            </a>
            <% if (!submission.hide_author) { %>
              <p>Submitted by: <%= submission.author %>
              </p>
              <% } %>
          </li>
          <% }) %>
      </ul>
</body>

</html>