<%- include('partials/header', {title: submission.name, css_file: 'submission.css', js_file: 'submission.js'}) %>
<div class="content">
    <h1 class="title"><%=submission.name%></h1>
    <!-- <h2>You are <%=editingEnabled ? '' : 'not'%> allowed to edit this page</h2> -->
    <% if (editingEnabled){ %>
        <button class="editButton">Edit</button>
    <% } %>
    <% if (!submission.hide_author) { %>
        <h2>by <span class="author"><%=submission.author%></span></h2>
    <% } %>
    <p>Lat: <span class="latitude"><%=submission.latitude%></span> Lon: <span class="longitude"><%=submission.longitude%></span></p>
    <h2>Submitted on: <span class="date"><%=submission.submission_date%></span></h2>
    <img src="/resized/<%=submission.image_name%>">
    <p class="description"><%=submission.description%></p>
</div>
    <div class="modal">
        <div class="edits">

        </div>
        <p>Confirm the changes made?</p>
        <button>Review</button>
        <button>Confirm</button>
    </div>
</body>
</html>


<!-- <img src="goku.jpg"> -->
<!-- I think without the initial slash express takes the current web page path (submissions/whateverid) and then adds the file name at the end like submission/whateverid/filename or submissions/filename that obv does not find anything that matches. -->
<!-- Without the intial / it doesn't even find it if I put it in the same folder -->
<!--  Without the initial / it doesn't work, probably because it interprets that as looking in the same folder as this file is -->
<!-- When I use / it instead interprets it as a root request and then express intervenes -->