<%- include('partials/header', {title: submission.name, css_file: 'submission.css', js_file: 'submission.js'}) %>
<div class="content">
    <div class="row">
        <p class="submissionId" hidden><%=submission.id%></p>
        <h1 class="title"><%=submission.name%></h1>
    <% if (editingEnabled){ %>
        <div class="buttons">

        <button class="editButton">Edit</button>
        <button class="applyButton" hidden>Apply</button>
        <button class="deleteButton">Delete</button>
        </div>
    <% } %>
    </div>
    <div class="row">
        <p class="authorP" <%=submission.hide_author ? 'hidden' : ''%>>by <span class="author"><%=submission.author%></span></p>
        <div class="hideAuthorDiv" hidden>
        <label for="hideAuthor">Hide author:</label>
        <input name='hideAuthor' class="hideAuthorInput" type="checkbox" <%=submission.hide_author === 1 ? 'checked' : ''%>>
        </div>
    </div>
    <div class="row">
        <div>
            <p>Lat: <span class="coordinateSpan latitude"><%=submission.latitude%></span></p> 
            <p>Lon: <span class="coordinateSpan longitude"><%=submission.longitude%></span></p>
        </div>
        <p>Submitted on: <span class="date"><%=submission.submission_date%></span></p>
    </div>
    <div class="row">
        <div class="imgDiv">
            <img class='submissionImage' src="/resized/<%=submission.image_name%>">
            <label for="picture" class="fileInputLabel">Change image</label>
            <input type="file" class='fileInput' name="picture" hidden accept="image/png, image/jpeg">
            <div class="updatedFileDiv">
                <pre class="updatedFileName"></pre>
                <button class="imageUndoButton">&#10006;</button>
            </div>
        </div>
        <p class="description"><%=submission.description%></p>
    </div>
    <!-- <h2>You are <%=editingEnabled ? '' : 'not'%> allowed to edit this page</h2> -->
</div>
    <div class="modal-bg">
        <div class="modal">
            <div class="edits">
            </div>
            <div class="buttonDiv"><button class="reviewButton">Review</button>
            <button class="confirmButton">Confirm</button>
        </div>
        </div>
    </div>
</body>
</html>


<!-- I think without the initial slash express takes the current web page path (submissions/whateverid) and then adds the file name at the end like submission/whateverid/filename or submissions/filename that obv does not find anything that matches. -->
<!-- Without the intial / it doesn't even find it if I put it in the same folder -->
<!--  Without the initial / it doesn't work, probably because it interprets that as looking in the same folder as this file is -->
<!-- When I use / it instead interprets it as a root request and then express intervenes -->